<div class="container">
<h1>Orders from <%= @user.name %> </h1>
  <table class="table table-borered">
    <tbody>
      <thead>
        <th>Item</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Unit measurement</th>
        <th>Total</th>
      </thead>
      <% total = 0 %>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.product.name %></td> <!-- # To improve -->
          <td><%= order.product.description %></td>
          <td class="table-number"><%= order.product.quantity %></td>
          <td class="table-number"><%= order.product.price %></td>
          <td><%= order.product.unit_measurement %></td>
          <td class="table-number">R$ <%= order.product.price * order.product.quantity %></td>
          <% total += order.product.price * order.product.quantity %>
          <td>
            <%= link_to order_path(order), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-trash destroy_cart_product"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
     <tfoot>
    <tr>
      <th id="total" colspan="5"></th>
      <td> R$ <%= total %> </td>
    </tr>
   </tfoot>
  </table>
</div>

