<div class="banner" style="background-image: url('<%= image_path 'organic.jpg' %>')">
  <div class="banner-content">
    <h1>Fresh Organic Market</h1>
    <%# <p>Produtos orgânicos fresquinhos</p> %>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>

<div class="container">
<div class="search text-center">
  <%= form_tag products_path, :method => "get" do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Buscar Produto", :name => nil, class: "btn btn-warning") %>
  <% end %>
</div>
<br>

<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card-product">
          <%= link_to "", product_path(product), class: 'card-link' %>
          <% img = product.photo.attached? ? product.photo.key : "" %>
          <%= cl_image_tag img, height: 300, width: 400, crop: :fill %>
          <div class="card-product-infos">
            <div>
              <% dist_txt = @distances&.key?(product.user.id) ? " a #{@distances[product.user.id]}km" : '' %>
              <h2><%= "#{product.name}#{dist_txt}" %></h2>
              <p><%= product.description.split('').first(20).join.strip + "..." %></p>
            </div>
            <h2 id="card-product-pricing"><small><%= price_mask_real(product.price) %>/<%= product.unit_measurement %> </small> </h2>
            <!--  <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />-->
          </div>
        </div>
      </div>
    <% end %>
   </div>
 </div>
