<div class="banner" style="background-image: url('<%= image_path 'organic.jpg' %>')">
  <div class="banner-content">
    <h1>Fresh Organic Market</h1>
    <p>Produtos orgânicos fresquinhos</p>

  </div>
</div>

<div class="container">
<div class="search text-center">
  <%= form_tag products_path, :method => "get" do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Buscar Produto", :name => nil, class: "btn btn-warning") %>
  <% end %>
</div>
<br>
<br>

  <br>

<div class="container">
  <div class="row">
  <% @products.each do |product| %>
  <div class="col-12 col-md-6 col-lg-3">

<div class="card-product">
  <%= link_to "", product_path(product), class: 'card-link' %>
  <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
  <div class="card-product-infos">
    <div>
      <h2><%= product.name %></h2>
      <p><%= product.description %></p>
    </div>
    <h2 id="card-product-pricing"><small>R$ </small><%= (sprintf "%.2f", product.price).to_s.gsub('.', ',') %></h2>
    <!--  <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />-->
  </div>
</div>

</div>
<% end %>
 </div>
 </div>
