<div class="banner" style="background-image: url('<%= image_path 'organic.jpg' %>')">
  <div class="banner-content">
    <h1>Fresh Organic Market</h1>
    <p>Produtos orgânicos fresquinhos</p>

  </div>
</div>

<div class="container">
<div class="search text-center">
  <%= form_tag products_path, :method => "get" do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Buscar Produto", :name => nil, class: "btn btn-warning") %>
  <% end %>
</div>
<br>
<div class="container">
  <div class="row">
<% @products.each do |product| %>
<div class="col-12 col-md-6 col-lg-3">

  <div class="card-trip">
    <% img = product.photo.attached? ? "#{product.photo.key}" : 'https://www.flaticon.com/svg/static/icons/svg/706/706133.svg' %>
    <%= cl_image_tag img, height: 300, width: 400, crop: :fill  %>
    <div class="card-trip-infos">
      <div>
        <h2><%= product.name %></h2>
        <p><%= product.description %></p>
        <p class="productor"><%= "produtor: #{product.user.name}  " %></p>
      </div>
      <h2 class="card-trip-pricing"><%= "#{product.price}" %></h2>
      <!--  <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />-->
    </div>
    <%= link_to "", product, class: 'card-link' %>
  </div>
</div>
<% end %>
 </div>
