<div class="container">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Produto:</strong>
    <%= @product.name %>
  </p>
  <p>
    <strong>Descrição:</strong>
    <%= @product.description %>
  </p>
  <p>
    <strong>Preço: R$ </strong>
    <%= "#{@product.price} #{@product.unit_measurement}" %>
  </p>

    <%= simple_form_for @order, url: product_orders_path(@product), method: :post do |f| %>
    <%= f.input :quantity %>

  <p>
    <strong>Nome do Produtor:</strong>
    <%= @product.user.name %>
  </p>
  <p>
    <strong>Endereço:</strong>
    <%= @product.user.address %>
  </p>

  <%= link_to 'Back', products_path, class: "btn btn-warning" %>


    <% if @product.user == current_user%>
      <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-warning" %>
      <%= link_to 'Destroy', product_path(@product), method: :delete, data: { confirm: 'Are you Sure?' }, class: "btn btn-warning" %>
    <% else %>
      <%= f.submit 'Buy', class: "btn btn-warning" %>
    <% end %>
  <% end %>
</div>
