<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p>
  <strong>Name:</strong>
  <%= @product.description %>
</p>
<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Produtor name:</strong>
  <%= @product.user.name %>
</p>
<p>
  <strong>Produtor address:</strong>
  <%= @product.user.address %>
</p>

<%= link_to 'Back', products_path, class: "btn btn-outline-secondary" %>

<% if @product.user == current_user%>
<%= link_to 'Edit', , edit_product_path(@product), class: "btn btn-outline-secondary" %>
<%= link_to 'Destroy', product_path(@product), method: :delete, data: { confirm: 'Are you Sure?' }, class: "btn btn-outline-secondary" %>
<% else %>
<% end %>

