<div class="container">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Produto:</strong>
    <%= @product.name %>
  </p>
  <p>
    <strong>Descrição:</strong>
    <%= @product.description %>
  </p>
  <p>
    <strong>Preço:</strong>
    <%= @product.price %>
  </p>

  <p>
    <strong>Nome do Produtor:</strong>
    <%= @product.user.name %>
  </p>
  <p>
    <strong>Endereço:</strong>
    <%= @product.user.address %>
  </p>

  <%= link_to 'Back', products_path, class: "btn btn-outline-secondary" %>
  <%= link_to 'Buy', product_orders_path(@product.id), method: :post, class: "btn btn-outline-secondary" %>

  <% if @product.user == current_user%>
    <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-outline-secondary" %>
    <%= link_to 'Destroy', product_path(@product), method: :delete, data: { confirm: 'Are you Sure?' }, class: "btn btn-outline-secondary" %>
  <% else %>
    <%= link_to 'Adicionar no Carrinho', product_cart_products_path(@product), class: "btn btn-outline-secondary" %>
  <% end %>
</div>

