<div class="container">
  <div class="row mt-2">
    <div class="col">
      <p id="notice"><%= notice %></p>

      <hr>

      <p>
        <strong>Nome do Produtor:</strong>
        <%= @product.user.name %>
      </p>
      <p>
        <strong>Endereço:</strong>
        <%= @product.user.address %>
      </p>

      <hr>

      <p>
        <strong>Produto:</strong>
        <%= @product.name %>
      </p>
      <p>
        <strong>Descrição:</strong>
        <%= @product.description %>
      </p>
      <p>
        <strong>Preço: R$ </strong>
        <%= "#{(sprintf "%.2f", @product.price).to_s.gsub('.', ',')} / #{@product.unit_measurement}" %>
      </p>

        <% if @product.user != current_user%>
          <%= simple_form_for @order, url: product_orders_path(@product), method: :post do |f| %>
          <%= f.input :quantity, label: 'Quantidade desejada', placeholder: '1' %>
          <%= link_to 'Voltar', products_path, class: "btn btn-warning" %>
          <%= f.submit 'Adicionar ao carrinho', class: "btn btn-warning" %>
          <% end %>

        <% else %>

        <%= link_to 'Voltar', products_path, class: "btn btn-warning" %>
        <%= link_to 'Editar', edit_product_path(@product), class: "btn btn-warning" %>
        <%= link_to 'Eliminar', product_path(@product), method: :delete, data: { confirm: 'Are you Sure?' }, class: "btn btn-warning" %>
        <% end %>

    </div>

    <div class="col">
      <% img = @product.photo.attached? ? @product.photo.key : "" %>
      <%= cl_image_tag img, height: 300, width: 400, crop: :fill %>
    </div>
  </div>
  <div id="map"
     style="width: 80%;margin: 0 auto; height: 500px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


